@layout("layout.app2")

@section("title")

<title>EMBN | About</title>

@endsection

@section("content")

<div class="jumbotron d-flex align-items-center" id="aboutJumbotron">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <h1>About Us</h1>

            </div>

        </div>

    </div>

</div>



@endsection