@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$black : #333;
$offwhite: #EBF5Df;
$orange: #FE9000;
$royalBlue: #0A81D1;
$white: #fff;

$offblack: #363538;
$grey: #8D8C8A;
$offgrey: #F6F6F6;
$blue: #3772FF;
$yellowOrange: #FFA630;

body{
    margin: 0;
    padding: 0;
    color: $white;
    background-color: $black;
    font-family: "Baloo 2", cursive;
    font-weight: initial;
    text-rendering: optimizeLegibility;
}

italic{
    font-style: italic;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

.fixed-top{
    z-index: 50;
}

.clickable{
    cursor: pointer;
}

.navbar-brand{
    cursor: default; 
}

.blueText{
    color: $blue;
}

.orangeText{
    color: $orange;
}

#backToTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#backToTop:hover{
    background-color: rgba(0,0,0,0.8)
}

.boxShadow{
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.nav-link,
.navbar-brand{
    color: $white;
}

.loader{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: #3c53b4;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.loader img{
    width: 200px;
}

.hidden{
    display: none;
    visibility: hidden;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.divider{
    min-height: 10vh;
    width: 100%;
    background-color: $offblack;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

/*index*/

#index .jumbotron{
    min-height: 75vh;
}

#indexMain{
    background-image: url("/assets/index/hero\ monochrome\ orange.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

#indexMain a{
    color: white;
}

#index .hero{
    background-color: rgba(0,0,0,0.5);
    padding: 5%;
}

#index .hero h1{
    font-size: 5rem;
}

#index .hero p{
    font-size: 1.3rem;
}

#index .boxShadow{
    margin: 10px 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: $black;
}

#indexForum .boxShadow{
    padding: 25px;
}

#indexAbout .boxShadow{
    margin: 10px 0;
    padding: 30px;
}

.indexBox img{
    max-width: 100%;
    height: auto;
}

/*forum in index*/

#indexForum ul{
    padding: 0;
}

#indexForum h2,
#indexForum ul li{
    color: $white;
}

#indexForum ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: $white;
}

#indexForum ul li:nth-last-child(1){
    border-bottom: 0px;
}

#indexForum{
    background-image: url("/assets/index/meet\ monochrome\ orange.jpg");
    background-size: cover;
    color: $black;
}

#indexForumContainer{
    background-color: rgba($white, 0.8);
    border: 1px solid $blue;
    padding: 25px;
}

/*service in index*/

#indexService{
    background-image: url("/assets/index/performance\ monochrome\ blue.jpg");
    background-size: cover;
}

#indexService .row{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#indexService .row .card{
    position: relative;
    cursor: pointer;
    border: 0px;
    background-color: inherit;
}

#indexService .row .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

#indexService .row .card .face.face1{
    position: relative;
    background: $offblack;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

#indexService .row .card:hover .face.face1{
    background: $blue;
    transform: translateY(0);
}

#indexService .row .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

#indexService .row .card:hover .face.face1 .content{
    opacity: 1;
}

#indexService .row .card .face.face1 .content img{
    text-align: center;
    max-width: 100px;
}

#indexService .row .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

#indexService .row .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
    transform: translateY(-100px);
}

#indexService .row .card:hover .face.face2{
    transform: translateY(0);
}

#indexService .row .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: $black;
}

#indexService .row .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}

#indexService .row .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

#indexAbout{
    background-image: url("");
}

#indexAbout1,
#indexAbout2,
#indexAbout3{
    min-height: 60vh;
    text-rendering: optimizeLegibility;
}

#indexAbout1 div,
#indexAbout2 div,
#indexAbout3 div{
    background-color: rgba($offblack, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.1em;
    min-width: 50%;
    max-width: 75%;
    margin: auto 0;
}

#indexAbout1{
    background-image: url("/assets/index/problem.jpg");
    background-size: cover;
    background-position: center;
}

#indexAbout2{
    background-image: url("/assets/index/solution.jpg");
    background-size: cover;
    background-position: center;
}

#indexAbout3{
    background-image: url("/assets/index/future.jpg");
    background-size: cover;
    background-position: center;
}

/*

#indexAbout2{
    background-image: url("/assets/index/solution.jpg");
    background-size: cover;
}

*/

.section{
    height: 100vh;
    scroll-snap-align: start;
}

/*forum.html*/

#forumMainMenu ul{
    padding: 0;
    margin-top: 10px;
}

#forumMainMenu ul li{
    border-bottom: 1px solid black;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#forumMainMenu ul li a:hover{
    text-decoration: underline;
}

#forumMainMenu ul li:nth-last-child(1){
    border-bottom: 0px;
}

#forumMainMenu a{
    text-decoration: none;
    color: $offwhite;
}

.forumCat{
    margin: 15px 0px;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.forumCat:hover{
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
}

.forumCatHeader{
    background-color: $orange;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.forumCatList{
    padding: 10px 10px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.forumCatListLast{
    padding: 10px 5px;
    border-bottom: 0px;
}

#forumJumbotron{
    height: 20vh;
}

/*services*/

#servicesJumbotron{
    height: 20vh;
    background-image: url("/assets/service/jumbo\ monochrome\ orange.jpg");
    background-position: 50% 50%;
    color: $blue;
}

.servicesCat{
    height: 30vh;
    color: $blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

#performanceCard{
    background-image: url("/assets/service/performance.jpg");
    background-size: cover;
    background-position: 50% 51%;
}

#fitmentCard{
    background-image: url("/assets/service/fitment.jpg");
    background-size: cover;
    background-position: 50% 90%;
}

#paintCard{
    background-image: url("/assets/service/paint.jpg");
    background-size: cover;
    background-position: 50% 80%;
}

#designCard{
    background-image: url("/assets/service/design.jpg");
    background-size: cover;
    background-position: 50% 46%;
}

.backedHeader{
    background-color: rgba($grey, 0.5);
}

/*design tab service*/

#designJumbotron{
    background-image: url("/assets/serviceDesign/design\ jumbo.jpg");
    background-size: cover;
    height: 20vh;
    color: $orange;
}

#serviceIndex .jumbotron h1{
    font-size: 5.5em;
}

#serviceIndex #brands{
    background-color: rgba($orange, 0.75);
}

.brand{
    cursor: pointer;
}

.brand img{
    height: 80px;
    align-items: center;
    text-align: center;
    margin: auto;
    display: block;
}

.brand a{
    color: white;
}

.brandImage img{
    width: 100%;
    height: auto;
}

.brand:hover{
    background-color: $orange;
}

.regionLabel{
    background-color: rgba($orange, 0.9);
    color: $black;
    text-align: start;
}

#sortRow{
    background-color: $black;
}

.brand h6 .smaller{
    font-size: 0.9em;
}
/*paint tab service*/

#paintJumbotron{
    min-height: 10vh;
    background-color: $orange;
    color: $blue;
    background-position: 50% 50%;
}

#paintIndex .tab{
    border: 1px solid $orange;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}